.button {
  max-width: 130px;
  min-width: 130px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  background: rgb(150, 220, 150);
  border: none;
  border-radius: 1rem 5rem 5rem 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.button,
.button span {
  transition: 300ms;
}

.button .text {
  transform: translateX(10px);
  color: white;
  font-weight: 700;
}

.button .icon {
  position: absolute;
  border-left: 2px solid rgb(120, 190, 120);
  transform: translateX(75px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button svg {
  width: 15px;
  rotate: 45deg;
  fill: white;
}

.button:hover {
  background: rgb(120, 190, 120);
}

.button:hover .text {
  color: transparent;
}

.button:hover .icon {
  width: 115px;
  border-left: none;
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:active .icon svg {
  transform: scale(1.2);
}
