.alert {
  position:fixed;
  width: 30rem;
  left: calc(50% - 15rem);
  top: 1.5rem;

  display: flex;
  justify-content: center;
  padding: 1rem 2rem 1.2rem;
  border-radius: 3rem;
}

.update {
  z-index: 3;
  background-color: rgb(150, 220, 150);
  border: 2px solid rgb(120, 190, 120);
}

.error {
  z-index: 4;
  background-color: rgb(250, 100, 100);
  border: 2px solid rgb(250, 50, 50);
}
